@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  position: relative;
}

.toggle-options {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle-options img {
  width: 60%;
}

.tools {
  position: absolute;
  top: 1rem;
  left: 34vw;
  padding: 0.5rem;
  display: flex;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.5rem;
  cursor: auto;
}

.scale-tools {
  animation-name: scale-tools;
  animation-duration: 1s;
}

@keyframes scale-tools {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

.tools img {
  width: 2rem;
  cursor: pointer;
}

.tool-heading-xl {
  margin: 0;
  font-weight: bold;
}

.tool-heading {
  margin: 0;
}

.pencil-tools,
.marker-tools,
.text-tools,
.shapes-tools {
  width: 12.5rem;
  height: 17rem;
  position: absolute;
  top: 4.5rem;
  /* left: 40vw; */
  left: 1vw;
  display: none;
  justify-items: center;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.3rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: auto;
}

.pencil-width,
.marker-width {
  width: 100%;
}
.pencil-width input,
.marker-width input {
  width: 94%;
}

.pencil-colors,
.marker-colors {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
}

.pencil-color,
.marker-color {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.pencil-tools img,
.pencil-patterns img,
.marker-patterns img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.black {
  background-color: #1e1e1e;
}

.red {
  background-color: #f24822;
}

.orange {
  background-color: #ffa629;
}

.yellow {
  background-color: #ffcd29;
}

.green {
  background-color: #14ae5c;
}

.blue {
  background-color: #0d99ff;
}

.purple {
  background-color: #9747ff;
}

.shapes-tools {
  left: 1vw;
  height: 10rem;
}

.marker-tools {
  /* left: 46vw; */
  left: 1vw;
  height: 13rem;
}

.marker-grey {
  background-color: #afafaf;
}
.marker-pink {
  background-color: #ffa0f9;
}
.marker-orange {
  background-color: #ffb868;
}
.marker-yellow {
  background-color: #fff234;
}
.marker-green {
  background-color: #aeff61;
}
.marker-blue {
  background-color: #7efff7;
}
.marker-purple {
  background-color: #bc9bff;
}

.eraser-tools {
  width: 10rem;
  height: 4rem;
  position: absolute;
  top: 4.5rem;
  /* left: 44.5vw; */
  left: 1vw;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: auto;
  flex-direction: column;
  gap: 0.3rem;
}

.eraser-tools input {
  width: 100%;
}

.stickynote-tools,
.canvas-bgcolor-tools {
  width: 12rem;
  height: 4.2rem;
  position: absolute;
  top: 4.5rem;
  /* left: 54vw; */
  left: 1vw;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.3rem;
  padding: 0.5rem;
  gap: 0.5rem;
  cursor: auto;
  flex-direction: column;
}

.stickynote-colors,
.canvas-bgcolors {
  display: flex;
  gap: 0.5rem;
}

.notes-color,
.canvas-color {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.canvas-color {
  border: 1px solid #ccc;
}

.bg-pink {
  background-color: #ffafa3;
}

.bg-orange {
  background-color: #ffc470;
}

.bg-yellow {
  background-color: #ffd966;
}

.bg-blue {
  background-color: #80caff;
}

.bg-green {
  background-color: #85e0a3;
}

.bg-purple {
  background-color: #d9b8ff;
}

.bg-grey {
  background-color: #e6e6e6;
}

.cursor-auto {
  cursor: auto;
}

.cursor-pencil {
  cursor: url("../../icons/cursors/cursor-pencil.png"), auto;
}

.cursor-marker {
  cursor: url("../../icons/cursors/cursor-marker.png"), auto;
}

.cursor-eraser {
  cursor: url("../../icons/cursors/cursor-eraser.png"), auto;
}

.sticky-note,
.sticky-note-image {
  height: 16rem;
  width: 16rem;
  position: absolute;
  top: 15rem;
  left: 15rem;
  border-radius: 0.5rem;
}

.header-note {
  height: 2rem;
  background-color: #e4dede;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

.header-note > * {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  margin-right: 0.6rem;
  cursor: pointer;
}

.body-note {
  height: calc(100% - 2rem);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}

.minimize-note {
  background-color: #26cc3f;
}
.remove-note {
  background-color: #f86158;
}

.input-note,
.sticky-note-image textarea {
  width: 100%;
  height: 100%;
  outline: #fff;
  resize: none;
  border: none;
  border-radius: 0 0 0.5rem 0.5rem;
}

.upload-img-note {
  width: 100%;
  height: 100%;
}

.drag-handle {
  cursor: pointer;
}

.shapes {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.shape {
  width: 50%;
  box-sizing: border-box;
  max-width: 50px;
  height: auto;
  cursor: pointer;
}

.text-tools {
  height: 11rem;
}

.text-sizes {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.text-size {
  border: 1px solid;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.text-families {
  display: flex;
  gap: 0.6rem;
}

.text-family {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.hand {
  font-family: "Kalam", cursive;
}

.normal {
  font-family: "Varela Round", sans-serif;
}

.code {
  font-family: "Fira Code", monospace;
}

.canvas-white {
  background-color: #fff;
}

.canvas-grey {
  background-color: #f8f9fa;
}

.canvas-blue {
  background-color: #f5faff;
}

.canvas-pink {
  background-color: #fffce8;
}

.canvas-purple {
  background-color: #fdf8f6;
}
